


    /* padding: 0;
    margin: 0px;
    background: url('../Images/edit-pin.png') no-repeat 8px center;
    max-width: 85px;
    overflow: hidden;
    padding-left: 25px;
    cursor: pointer;
    outline: none;
    float: left;
    width: 100px;
    font-family: "CeraPRO-Regular";
    word-spacing: 3px;
    background-color: transparent;
    border: 0 none;
    font-size: 12px;
    font-weight: normal;
    height: 32px;
    text-align: left !important;
    color: #393939; */
     /* *{
        padding:0;
        margin: 0; 
         box-sizing: border-box;
        position: relative; } */
  
/* #cartnav{
    border-right: 1px solid #999;
    float: left;
    height: 30px;
    margin: 0 0 0 8px;
    padding: 2px 9px 0;
    width: 20px;
    
} */
#navstart{
    display: flex;
       /* border: 5px solid blue;    */
    /* box-sizing: border-box; */
    padding: 0px 0px 0px 0px;
    width: 100%;
    margin-inline: auto;
    padding-top:0px;
    margin-top:0px ;
     position: sticky;  
     top:0px;
     left:0;
     right: 0px;
     bottom: 0;
      z-index: 1000000; 
     /* overflow: hidden; */
     /* opacity: 1; */
    /* position: sticky;  */
    /* position: fixed;  */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     background-color: white; 
     
   
     /* background-color: yellow;  */
    
}
#enterpindiv>img{
     /* border:1px solid green; */
    height: 21px;
    width:15px;
    margin-top:4px;
    background-color:#ada3a355;
    /* background-color: red; */
    /* margin-right:-15px ; */
}
#enterpindiv {
    display: flex;
    padding:0px ;
    margin:0px 0px 0px 60px;
    height: 31px;
    width:100px;
  /* border-right: 11px solid rgb(234, 230, 230); */
   /* background-color:#c9c3c355;  */
  /* background-color: red;; */
  color: #393939;
  border-bottom: 0.1px solid rgb(188, 177, 177);
border-top: 0.1px solid rgb(188, 177, 177); 
border-left: 0.1px solid rgb(188, 177, 177);
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
 background-color: #f3f3f3; 
   /* border: 5px solid grey;     */

    
}
#enterpindiv>#enterpin{
    float:right;
border: none;
height:30px;
 color:#393939; 
box-sizing: border-box;
padding-top:0px;
word-spacing: 3px;
max-width:80px;
font-size: 12px;
font-weight: normal;
background-color: #e8dfdf55;
 overflow: hidden; 
outline: none;
/* color: #393939 */
  /* border:1px solid green  ; */
 cursor: pointer;
 /* border-left: 1px solid green; */
 
 
}
#nexttopin{
    height:32px;
    /* border:1px solid red;; */
    /* font-size: 13px; */
    margin:0px 0px 0px 0px;
    padding:6px 0px 2px 5px ;
    width:100px;
    font-size: 12px;
font-weight: normal;
border-left:0.1px solid rgb(194, 188, 188) ;
/* background-color: #00000000; */
box-sizing: border-box;
background-color:#ada3a355;
padding-bottom: 5px;
border-bottom: 0.1px solid rgb(188, 177, 177);
border-top: 0.1px solid rgb(188, 177, 177);
cursor: pointer;
font-family: CeraPRO-Regular;
color: #393939;
background-color: #eaeaea;
outline: none;
border-right: none;

/* word-spacing: 10px; */
}
#starB{
    height: 30px;
<<<<<<< Updated upstream
=======
   
>>>>>>> Stashed changes
    padding: 0 10px;
    width: 40px;
}
#cartB{
    height: 30px;
    width: 40px;
    padding: 0 10px;
}
#star_1{
    height: 50%;
    background-color: white;
}
#bag_1{
    height: 100%;
    background-color: white;
}
#search{
    border:1px solid rgb(188, 177, 177) ; 
 border-left: none;
    margin:0px 0px 0px 0px;
    border-right: none;
    box-sizing: border-box;
    outline: none;
    float: right;
    height:32px;
    text-align: center;
    z-index: 9999;
<<<<<<< Updated upstream
     min-width: 550px;
=======
     min-width: 660px;
>>>>>>> Stashed changes
     font-weight: normal;
     font-family: "CeraPRO-Regular";
     background-color: #ffffff;
     word-spacing: 3px;
     cursor: pointer;
     color: rgb(147, 147, 147);
     /* border: 11px solid red;; */
}
/* #ruk{
    /* display:flex;
    flex-direction: column; */
    /* float: left; */
    /* background: url("../Images/header-icons.jpg") no-repeat scroll 0 0;
    display:none; */
#firstimgdiv{
/* border:5px solid red; */
box-sizing: border-box;
padding-top: 0px;
height: 110px;
margin-top: 10px;
/* padding: 0px;
height: 70px; */
}
#navright{
    display: flex;
     /* border:5px solid black;  */
    height: 60px;
    margin-left: 30px;
    width:800px;
    /* padding:0px; */
    padding-top:0px ;
    margin-top:0px;
}
