* {
    font-family: arial;
    box-sizing: border-box;
}
body{
    /* width: 80%; */
    /* margin: auto; */
 
}
/* header{
    width: 95%;
    margin: auto;

} */

#login_cont {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: -2.5%;
}
#login_cont>div{
    display: flex;
}
#login_cont>div>p {
    font-size: 12px;
    margin-right: 80px;
}
#log{
    /* border: 2px solid black; */
    margin-left: -5%;
    /* padding-top: 30px; */
    /* margin-top: 20px; */
}
#log>p{
    font-size: 12px;
    /* margin: auto; */
}


#imSel {
    display: flex;
    /* border: 3px solid black; */
}
#logo{
width: 280px;
margin-top: 20px;
}

#city {
    background: #f3f3f3;
    padding: 2px;
}

#shop {
    color: #c96492;
}

#sButt {
    background-color: #81ba38;
    margin-left: -0.3%;
}

#starB {
    background-color: #81ba38;
}

#searchInp {
    padding: 0.2% 13%;
}

p {
    margin: 0;
}

div.select {
    min-width: 150px;
    padding-right: 15px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 2px;
    border: none;
    position: relative;
    background: #f3f3f3;
}

div.select p {
    padding: 5px;
    width: 100%;
}

div.select:after {
    content: "▼";
    position: absolute;
    right: 6px;
    top: 8px;
    font-size: 9px;
}

div.select .hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .1s;
    background: white;
    border: 1px solid #999;
    z-index: 10;
    width: 100%;
}

div.select:hover .hidden {
    visibility: visible;
    opacity: 1;
}

div.select p:hover,
div.select:hover {
    background: #80bc36;
    cursor: pointer;
}
div.select:hover {
    background: #80bc36;
    cursor: pointer;
}

#cont_option{
    border: 1px solid rgb(216, 207, 207);
    width: 80%;
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
}
#cont_option>p{
    font-size: 14px;
}
.contHov{
 margin-top: 5px;
}
.contHov:hover{
cursor: pointer;
background-color: rgb(214, 206, 206);
}

#pop{
    width: 700px;
    border: 1px solid teal;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    display: none;
}
#ppBtn{
    padding: 5px 30px;
    background-color: #80bc36;
    border: none;
    border-radius: 15px;
}
#pop>p{
    font-size: 12px;
    color: grey;
}

.xx{
    width: 800px;
    height: 500px;
    display: flex;
    border: 1px solid green;
    margin-left: 16%;
    display: none;
    position: relative;
}
.xx>img{
   margin-left: 70%;
   margin-top: -5%;
   width: 200px;
   height: 200px;
}
.hnav{
    color: #80bc36;
}
.xx>p{
    font-size: 14px;
    margin-bottom: 0.5%;
}
#jj{
    margin-top: -27%;
    margin-left: 30%;
}




